@import "../node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
}

.map-container {
  /* position: relative; */
  /* top: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  min-height: 0;
}

.sidebar {
  margin: 15px
}
